<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="ImageFilesDirectory" value="censored\NB_AHA_Cards\002Test" />
		<add key="JsonFilesDirectory" value="censored\NB_AHA_Cards\002JSON" />
		<add key="DatabaseFilePath" value="\DB\EcardDb.sqlite" />
		<add key="AzureImageAIEndPoint" value="censored" />
		<add key="AzureImageAISubscriptionKey" value="censored" />
		<add key="FileFilter" value="jpg,jpeg" />
	</appSettings>
</configuration>